extends layout

block content
    h1 #{plate.weight} #{plate.units} #{plate.brand? plate.brand.name: 'Unbranded'} Plate

    p #[strong Weight:] #{plate.weight} #{plate.units}
    p #[strong Price:] #{plate.price}
    if plate.stock==1
        p.text-warning #[strong Stock:] #{plate.stock}
    else if plate.stock>0
        p.text-success #[strong Stock:] #{plate.stock}
    else
        p.text-danger #[strong Stock:] #{plate.stock}
    p #[strong Hole Diameter:] #{plate.olympic?'Olympic': 'Standard'}
    p #[strong Bumper plate: ] #{plate.bumper? 'Yes': 'No'}
    p #[strong Rubber coated: ] #{plate.rubber_coated? 'Yes': 'No'}
    p #[strong Handles: ] #{plate.handles? 'Yes': 'No'}

    hr
    p
        a(href=plate.url+'/delete') Delete Plate
    p
        a(href=plate.url+'/update') Update Plate
    