extends layout

block content
    h1 #{plate.weight} #{plate.units} #{plate.brand? plate.brand.name: ''} Plate

    p #[strong Weight:] #{plate.weight} #{plate.units}
    p #[strong Price:] #{plate.price}
    if plate.stock==1
        p.text-warning #[strong Stock:] #{plate.stock}
    else if plate.stock>0
        p.text-success #[strong Stock:] #{plate.stock}
    else
        p.text-danger #[strong Stock:] #{plate.stock}
    p #[strong Hole Diameter:] #{plate.olympic?'2 in': '1 in'}
    p #[strong Bumper plate: ] #{plate.bumper? 'Yes': 'No'}
    p #[strong Rubber coated: ] #{plate.rubber_coated? 'Yes': 'No'}
    p #[strong Handles: ] #{plate.handles? 'Yes': 'No'}
    